<div class="navbar">
  <div class="logo">
    <span style="color: #fff">Mo</span>
    <span style="color: #d27685">X</span>
  </div>
  <ul class="navbar__menu">
    <li>
      <a href="/" class="navbar__option"> Home </a>
    </li>
    <li>
      <a href="/list" class="navbar__option">Movies List</a>
    </li>
    <li>
      <a href="http://localhost:3000/stats" class="navbar__option">Stats</a>
    </li>
  </ul>
  <div class="navbar__drawer-button">
    <i class="fa-solid fa-bars"></i>
  </div>
  <div class="navbar__dropdown" data-dropdown>
    <i class="fa-solid fa-user navbar__profile-button" data-dropdown-button></i>
    <div class="navbar__dropdown-menu" data-dropdown-menu></div>
  </div>
</div>

<div class="navbar__drawer">
  <div class="navbar__drawer-header">
    <div class="navbar__drawer-close">
      <i class="fa-solid fa-xmark"></i>
    </div>
  </div>
  <ul>
    <li>
      <a href="/" class="navbar__option">Home</a>
    </li>
    <li>
      <a href="/list" class="navbar__option">Movies List</a>
    </li>
    <li>
      <a href="/stats" class="navbar__option">Stats</a>
    </li>
  </ul>
</div>
