<!DOCTYPE html>
<html>
  <head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/overview/styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="movie-posters">
        <!-- Add your movie posters here -->
        <img
          src="../static/assets/pxfuel.jpg"
          alt="Movie Poster"
          class="blur"
        />
        <!-- Add more movie posters as needed -->
      </div>
      <div class="login-box">
        <h1>
          Welcome to <br />
          MoX - Movies and TV Shows Explorer
        </h1>
        <div class="buttons">
          <a href="http://localhost:3000/login"
            ><button class="login-button">Login</button></a
          >
          <a href="http://localhost:3000/register"
            ><button class="signup-button">Sign Up</button></a
          >
        </div>
      </div>
    </div>
  </body>
</html>
